<div class="main-symptoms-form">
    <mat-vertical-stepper class="stepper" [linear]="False">
        <mat-step>
            <ng-template matStepLabel>Introduction</ng-template>
            <div class="introduction">
                <span>
                    <h2>Hello!</h2>
                    <p>
                        You’re about to use a short (3 min), safe and anonymous anemia checkup. Your answers will be carefully analyzed and you’ll learn if you are in really need of a specialist.
                    </p>
                </span>
                <img src="../../assets/symptom_guy.png">
            </div>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="formGroup">
            <ng-template matStepLabel>Patient</ng-template>
            <div *ngIf="patient" class="patient">
                <span class="select">
                    Please select your sex:
                </span>
                <div class="choices">
                    <form [formGroup]="formGroup">
                        <mat-radio-group formControlName="gender">
                            <mat-radio-button id="male" value="male"><label for="male">
                                <i class="fa fa-male" aria-hidden="true"></i>
                                <span>Male</span>
                                </label></mat-radio-button>
                            <mat-radio-button id="female" value="female"> <label for="female">
                                <i class="fa fa-female" aria-hidden="true"></i>
                                <span>Female</span>
                            </label></mat-radio-button>
                        </mat-radio-group>
                    </form>
                </div>
                <div class="choices-buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button [disabled]="formGroup.controls.gender.invalid" (click)="goNextGender()">Next</button>
                </div>
            </div>
            <div *ngIf="age" class="age">
                <form [formGroup]="formGroup">
                    <mat-slider
                        class = "age-slider"
                        thumbLabel
                        [displayWith]="formatLabel"
                        tickInterval="1000"
                        min="1"
                        max="120"
                        formControlName="age">
                    </mat-slider>
                </form>

                <button (click)="goBackAge()" mat-button >Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step  [stepControl]="formGroup">
            <ng-template matStepLabel>Statements</ng-template>
            <div class="statements">
                <span>
                    <h2>Please check all the statements below that apply to you</h2>
                     Select one answer in each row.

                </span>
                <form [formGroup]="formGroup" class="questions">
                    <mat-list [formGroup]="formGroup" formGroupName="statements">
                        <div class="list-element">
                            <mat-list-item>I'm pregnant</mat-list-item>
                            <mat-radio-group formControlName="pregnant" aria-label="Select an option">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                                <mat-radio-button value="3">Don't know</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="list-element">
                            <mat-list-item>I'm overweight or obese</mat-list-item>
                            <mat-radio-group formControlName="overweight" aria-label="Select an option">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                                <mat-radio-button value="3">Don't know</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="list-element">
                            <mat-list-item>I smoke cigarettes</mat-list-item>
                            <mat-radio-group formControlName="smoke" aria-label="Select an option">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                                <mat-radio-button value="3">Don't know</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="list-element">
                            <mat-list-item>I've been recently injured</mat-list-item>
                            <mat-radio-group formControlName="injured" aria-label="Select an option">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                                <mat-radio-button value="3">Don't know</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="list-element">
                            <mat-list-item>I have high cholesterol</mat-list-item>
                            <mat-radio-group formControlName="cholesterol" aria-label="Select an option">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                                <mat-radio-button value="3">Don't know</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="list-element">
                            <mat-list-item >I have hypertension</mat-list-item>
                            <mat-radio-group formControlName="hypertension" aria-label="Select an option">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                                <mat-radio-button value="3">Don't know</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </mat-list>

                </form>

            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button [disabled]="formGroup.controls.statements.invalid" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Symptoms</ng-template>
            <div class="symptoms">
                <span>
                    <h2>Add your symptoms</h2>
                </span>
            </div>
            <div [formGroup]="formGroup" class="effects">
                <mat-form-field>
                    <mat-label>Symptoms</mat-label>
                    <mat-select formControlName="symptoms" multiple>
                      <mat-select-trigger>
                        {{symptoms.value ? symptoms.value[0] : ''}}
                        <span *ngIf="symptoms.value?.length > 1" class="example-additional-selection">
                          (+{{symptoms.value.length - 1}} {{symptoms.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let symptom of symptomsList" [value]="symptom">{{symptom}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>
<div class="result">
    <button (click)="results()" [disabled]="formGroup.invalid" mat-raised-button class="button">Do I need to see a doctor?</button>
</div>
<div class="results" *ngIf="isResults">
    <div class="contents">
        Your daily iron intake should be {{ironIntake}} mg
        <div>
            {{doctor}}
        </div>
    </div>
</div>
<div class="footer"></div>
