<main>
    <div class="up">
        <div class="tab">
            <mat-tab-group>
                <mat-tab label="Overview">
                    <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
                    </p>
                </mat-tab>
                <mat-tab label="Impact">
                    <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
                    </p>
                </mat-tab>
                <mat-tab label="Dr.Anemia Response">
                    <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
                    </p>
                </mat-tab>
            </mat-tab-group>

        </div>

    </div>

    <div class="down">
        <div class="title">

        </div>
        <div class="container">
            <div class="boxes">
                <div class="box"> 
                    <div class="box_icon">
                        <mat-icon>portrait</mat-icon>
                    </div>
                    <div class="step">
                        <p>
                            Start building your profile
                        </p>
                    </div>
                    <div class="number">
                        <div class="numberCircle">1</div>
                        <div class="hr"></div>   
                    </div>
                </div>

                <span class="menu-spacer"></span>

                <div class="box1">
                    <div class="box_icon">
                        <mat-icon>check_circle</mat-icon>
                    </div>
                    <div class="step">
                        <p>
                            Check your symptoms
                        </p>
                    </div>
                    <div class="number">
                        <div class="hr"></div>   
                        <div class="numberCircle">2</div>
                        <div class="hr"></div>   
                    </div>
                </div>

                <span class="menu-spacer"></span>

                <div class="box">
                    <div class="box_icon">
                        <mat-icon>search</mat-icon>
                    </div>
                    <div class="step">
                        <p>
                            Search your daily meals in our database
                        </p>
                    </div>
                    <div class="number">
                        <div class="hr"></div>   
                        <div class="numberCircle">3</div>
                    </div>
                </div>

            </div>

        </div>


        <div class="container">
            <div class="boxes">
                <div class="box"> 
                    <div class="box_icon">
                        <mat-icon>add_circle</mat-icon>
                    </div>
                    <div class="step">
                        <p>
                            Calculate your daily iron intake
                        </p>
                    </div>
                    <div class="number">
                        <div class="numberCircle">4</div>
                        <div class="hr"></div>   
                    </div>
                </div>

                <span class="menu-spacer"></span>

                <div class="box1">
                    <div class="box_icon">
                        <mat-icon>cake</mat-icon>
                    </div>
                    <div class="step">
                        <p>
                            Choose from various goodies rich in iron
                        </p>
                    </div>
                    <div class="number">
                        <div class="hr"></div>  
                        <div class="numberCircle">5</div>
                        <div class="hr"></div>   
                    </div>
                </div>

                <span class="menu-spacer"></span>

                <div class="box">
                    <div class="box_icon">
                        <mat-icon>people</mat-icon>
                    </div>
                    <div class="step">
                        <p>
                            Be part of a community that has a similar lifestyle
                        </p>
                    </div>
                    <div class="number">
                        <div class="hr"></div>  
                        <div class="numberCircle">6</div> 
                    </div>
                </div>

            </div>

        </div>

    </div>
</main>