<div class="container">
  <div class="header">
    <span class="header-title">{{food.name}}</span>
    <span class="subtitle">Serving size: {{food.serving_size_amount}} {{food.serving_size_unit}}</span>
  </div>
  <div class="line"></div>
  <div class="calories">
    <span>Calories: {{food.calories}}</span>
  </div>
  <div class="line"></div>
  <span class="daily-value">%Daily Value</span>
  <div class="line"></div>
  <div class="facts-container">
    <span class="fact-name">Total Fat</span>
    <div class="fact-numbers">
      <span class="fact-value">{{food.total_fat}}g</span>
      <span class="percentage">24%</span>
    </div>
  </div>
  <div class="facts-container">
    <span class="fact-name">Saturated Fat</span>
    <div class="fact-numbers">
      <span class="fact-value">{{food.saturated_fat}}g</span>
      <span class="percentage">24%</span>
    </div>
  </div>
  <div class="facts-container">
    <span class="fact-name">Trans Fat</span>
    <div class="fact-numbers">
      <span class="fact-value">{{food.trans_fat}}g</span>
      <span class="percentage">24%</span>
    </div>
  </div>
  <div class="line"></div>
  <div class="facts-container">
    <span class="fact-name">Cholesterol</span>
    <div class="fact-numbers">
      <span class="fact-value">{{food.cholesterol}}mg</span>
      <span class="percentage">24%</span>
    </div>
  </div>
  <div class="line"></div>
  <div class="facts-container">
    <span class="fact-name">Sodium</span>
    <div class="fact-numbers">
      <span class="fact-value">{{food.sodium}}mg</span>
      <span class="percentage">24%</span>
    </div>
  </div>
  <div class="line"></div>
  <div class="facts-container">
    <span class="fact-name">Total Carbs</span>
    <div class="fact-numbers">
      <span class="fact-value">{{food.total_carbs}}mg</span>
      <span class="percentage">24%</span>
    </div>
  </div>
  <div class="facts-container">
    <span class="fact-name">Fiber</span>
    <div class="fact-numbers">
      <span class="fact-value">{{food.fiber}}g</span>
      <span class="percentage">24%</span>
    </div>
  </div>
  <div class="facts-container">
    <span class="fact-name">Sugars</span>
    <div class="fact-numbers">
      <span class="fact-value">{{food.sugars}}g</span>
      <span class="percentage">24%</span>
    </div>
  </div>
  <div class="facts-container">
    <span class="fact-name">Protein</span>
    <div class="fact-numbers">
      <span class="fact-value">{{food.protein}} cg</span>
      <span class="percentage">24%</span>
    </div>
  </div>
  <div class="line"></div>
  <div class="facts-container">
    <span class="fact-name">Vitamin A</span>
    <div class="fact-numbers">
      <span class="fact-value">{{food.vitamin_a}}mg</span>
      <span class="percentage">24%</span>
    </div>
  </div>
  <div class="line"></div>
  <div class="facts-container">
    <span class="fact-name">Vitamin A</span>
    <div class="fact-numbers">
      <span class="fact-value">{{food.vitamin_c}}mg</span>
      <span class="percentage">24%</span>
    </div>
  </div>
  <div class="line"></div>
  <div class="facts-container">
    <span class="fact-name">Calcium</span>
    <div class="fact-numbers">
      <span class="fact-value">{{food.vitamin_c}}mg</span>
      <span class="percentage">24%</span>
    </div>
  </div>
  <div class="line"></div>
</div>
