@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #2A363B;

body {
    margin: 0;
    font-family: 'Nunito','sans-serif';
    font-size: 18px;
    display: flex;
}

.container {
    background-color: #982727;
    width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #982727;

    .container {
        display: flex;
        flex-direction: row;
        
    }

    .logo {
        font-weight: bold;
        float: left;
        align-items: center;
        justify-content: center;
        color:white;
    }

    .button {
        background-color: #963846;
        color: #FCF8F9;
        font-weight: bold;
        justify-content: space-around;
        text-decoration: none;
        margin-right: 1em;
        margin-left: 1em;
        border-radius: 15px;
    }


    a {
        color: white;
        text-decoration: none;
        float: right;
        align-self: center;
        justify-content: center;
        
    }
    .menu-spacer {
        flex: 1 1 auto;
        margin-left: 1em;
        margin-right: 14em;
      }

    .page{
        float: right;
        margin-right: 1em;
        margin-left: 1em;
        border-radius: 15px;
        color: #2A363B;
        font-weight: bold;
    }

    .toolbar {
        display: flex;
        padding: 0px;
        float: right;
        background: #982727;
     }
    
}

footer{
        padding-bottom: 1em;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        bottom: 0;
        background-color: #963846;
        color: #FCF8F9;
        padding-top: 1em;
        z-index: 3;

        .boxes{
        display: flex;
        flex-direction: row;
        margin: 0 auto;

            .box{
                margin-right: 10em;
                margin-left: 10em;
                justify-content: space-around;
                display: flex;
                flex-direction: column;
                font-weight: bold;
                align-content: center;
                align-self: center;
              }
        
              .logo_mic {
                margin-right: 10em;
                font-weight: bold;
                align-self: center;
            }
         }

        a {
            color: #FCF8F9;
            text-decoration: none;
            float: right;
            
        }
}

