@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #2A363B;

body {
    margin: 0;
    font-family: 'Nunito','sans-serif';
    font-size: 18px;
    background-color: #FCF8F9;
    display: flex;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 1em 0;
    display: flex;
    background-color: #FCF8F9;
    flex-direction: column;

    .container {
        display: flex;
        flex-direction: row;
        background-color: #FCF8F9;
        
    }

    .logo {
        font-weight: bold;
        float: left;
        background-color: #FCF8F9;
        align-items: center;
        justify-content: center;
        

    }

    .button {
        background-color: #963846;
        color: #FCF8F9;
        font-weight: bold;
        justify-content: space-around;
        text-decoration: none;
        margin-right: 1em;
        margin-left: 1em;
        border-radius: 15px;
    }


    a {
        color: #963846;
        text-decoration: none;
        float: right;
        align-self: center;
        justify-content: center;
        
    }
    .menu-spacer {
        flex: 1 1 auto;
        margin-left: 1em;
        margin-right: 14em;
      }

    .page{
        float: right;
        margin-right: 1em;
        margin-left: 1em;
        border-radius: 15px;
        background-color: #FCF8F9;
        color: #2A363B;
        font-weight: bold;
    }

    .toolbar {
        display: flex;
        background-color: #FCF8F9;
        padding: 0px;
        float: right;

     }
    
}

footer{
        padding-bottom: 1em;
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
        position: fixed;
        text-align: center;
        bottom: 0;
        background-color: #FCF8F9;
        left: 0;
        padding-top: 1em;
        padding-left: 12em;
        padding-right: 12em;

        .boxes{
        display: flex;
        flex-direction: row;

            .box{
                margin-right: 2em;
                margin-left: 2em;
                justify-content: space-around;

              }
        

         }
        .logo_mic {
            font-weight: bold;
            float: left;
        }

        a {
            color: #963846;
            text-decoration: none;
            float: right;
            
        }
}

