<header>

    <div class="container">

        <span class="menu-spacer"></span>

    </div>

    <div class="container">
            <img class="logo" src="../assets/logo.svg">
        <span class="menu-spacer"></span>

        <mat-toolbar class="toolbar">
            <button mat-raised-button routerLink="" routerLinkActive #rla="routerLinkActive" class="page">Home</button>
            <button mat-raised-button routerLink="about" routerLinkActive="active" class="page">About</button>
            <button mat-raised-button routerLink="symptoms" routerLinkActive="active" class="page">Check Your Symptoms</button>
            <button *ngIf="isUserLoggedIn()" mat-raised-button routerLink="iron-calculator" routerLinkActive="active" class="page">Iron Calculator</button>
            <button *ngIf="isUserLoggedIn()" mat-raised-button routerLink="recipes" routerLinkActive="active" class="page">Recipes</button>
            <button mat-raised-button routerLink="page_6" routerLinkActive="active" class="page">News and experts</button>
            <button mat-raised-button (click)="showContactDialog()" class="page">Contact</button>

            <div *ngIf="!isUserLoggedIn()">
                <button mat-raised-button (click)="showLoginDialog()" class="button">Log In</button>
                <button mat-raised-button (click)="showSignupDialog()" class="button">Sign Up</button>
            </div>
            <div *ngIf="isUserLoggedIn()">
                <button mat-raised-button (click)="logout()" class="button">Log Out</button>
                <button mat-raised-button routerLink="profile" routerLinkActive="active" class="button">Profile</button>
            </div>

        </mat-toolbar>

    </div>

</header>
<router-outlet></router-outlet>
<footer>
    <div class="boxes">
        <div class="logo_mic">
            <a href="#" >Dr.Anemia</a>
        </div>
        <div class="box">
            <a href="http://terms&conditions">Terms and conditions</a>
            <a href="http://cookiespolicy">Cookies Policy</a>
            <a href="http://privacypolicy">Privacy Policy</a>
        </div>
        <span class="menu-spacer"></span>
        <div class="box">
            <a href="http://">Home</a>
            <a href="http://">Contact Us</a>
            <a href="http://">News & Experts</a>
        </div>

    </div>
</footer>

