@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #2A363B;

body {
    margin: 0;
    font-family: 'Nunito','sans-serif';
    font-size: 18px;
    background-color: #FCF8F9;
    display: flex;
    flex-direction: column;
}
main{
    background-color: #FCF8F9;
    display: flex;
    background-color: #FCF8F9;
    flex-direction: column;

    .banner{
        height: 900px;
        background-image: url('../../assets/background.png');
        background-position: bottom;
        background-size: cover;

        .banner-text{
            display: flex;
            flex-direction: column;
            margin-left: 10em;
            justify-content: center;
            height: 600px;
            width: 600px;
            font-weight: bold;

            .banner-title{
                font-size: 2em;
                padding-bottom: 1em;
            }

            .banner-subtitle{
                font-size: 1em;
                color: white;
                padding-bottom: 1em;
            }

            .button {
                background-color: white;
                color: #963846;
                font-weight: bold;
                margin: 0 auto;
                margin-top: 3em;
            }

        }
    }

    .menu-spacer {
        flex: 1 1 auto;
      }

    .button {
        background-color: #963846;
        color: #FCF8F9;
        font-weight: bold;
        display: flex;
        align-items: left;
        justify-content: left;
        text-decoration: none;
        margin: 0 auto;
        border-radius: 15px;
    }

    .container_column{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 30%;
        margin: 0 auto;
        padding: 2em 0;

        .menu-spacer {
            flex: 1 1 auto;
          }

        .boxes{
            display: flex;
            flex-direction: row;
            padding-bottom: 2em;
            flex-wrap: wrap;

            .box{
                flex: 1;
                padding: 0 1em;
            }

            span{
                display: flex;
                flex-direction: column;
            }

            .box-title{
                font-size: 2em;
                color: #963846;
                margin-bottom: 1em;
                font-weight: bold;
                align-items: center;

            }

            .box-content{
                font-size: 1em;
                font-weight: bold;
                margin-bottom: 1em;
                align-items: center;
                margin: 0 auto;
                justify-content: center;

            }
        }


    }

    .container {
        width: 80%;
        height: 30%;
        padding: 2em 0;
        display: flex;
        flex-direction: row;
        margin: 0 auto;

        .menu-spacer {
            flex: 1 1 auto;
          }

        .text{
            display: flex;
            flex-direction: column;
            width: 45%;
            justify-content: space-around;

            .title{
                font-size: 3em;
                color: #963846;
                margin-bottom: 1em;
                font-weight: bold;
                align-self: left;
            }
            .title-part2{
                font-size: 1em;
                font-weight: bold;
                margin-bottom: 1em;
                align-self: left;
            }
        }
        .img{
            width: 66%;
            img{
                width: 100%;
            }
        }
        .text1{
            margin: 0 auto;
            width: 45%;
            justify-content: space-around;
            display: flex;
            flex-direction: column;

            .text1-title{
                display: flex;
                font-size: 2em;
                color: #963846;
                margin-bottom: 1em;
                font-weight: bold;
                align-content: center;
            }

            .text1-content{
                display: flex;
                font-size: 2em;
                color: #2A363B;
                margin-bottom: 1em;
                font-weight: bold;
                align-content: center;
            }

        }
        .formular{
            margin: 0 auto;
            width: 45%;
            .form-container{
                width: 30em;
                margin: 0 auto;
                .mat-form-field{
                    width: 30em;
                    justify-content: space-around;
                    margin: 0 auto;
                    border-radius: 15px;
                }
            }
        }
    }

}
.footer{
    width: 80%;
    height: 18%;
}