<main>

    <div class="banner">
        <div class="banner-text">
            <span class="banner-title">A good life starts with what you eat.</span>
            <span class="banner-subtitle">Take control of your iron intake. Track your meals, check your symptoms and find out the latest news with Dr.Anemia.
            </span>
            <button mat-raised-button routerLink="contact" routerLinkActive="active" class="button">Calculate your index</button>
        </div>
    </div>

    <span class="menu-spacer"></span>

    <div class="container_column">
        <div class="boxes">
            <div class="box"> 
                <span class="box-title">Learn. Track. Improve.</span>
                <span class="box-content">Keeping an iron diary helps you understand your habits and increases your likelihood of hitting your goals.</span>
            </div>
            <div class="box">
                <span class="box-title">Simplified Search</span>
                <span class="box-content">Insert barcodes, save recipes and use the search bar for fast and easy food tracking.</span>
            </div>
            <div class="box">
                <span class="box-title">Stay Motivated</span>
                <span class="box-content">Join Dr. Anemia Community for advice, tips, and support 24/7.</span>
            </div>

        </div>
        <div>
            <button mat-raised-button routerLink="contact" routerLinkActive="active" class="button">Start your journey today</button>
        </div>
    </div>

    <span class="menu-spacer"></span>

    <div class="container">
        <div class="text1">
            <span class="text1-title">Just say hi and how we can help you and we’ll take it from there.</span>
            <span class="text1-content">We’d love to hear from you. If you want to know more about our platform, features or anything at all, drop us a line!</span>
        </div>
        <span class="menu-spacer"></span>
        <div class="formular">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Full Name</mat-label>
                    <input class="mat" matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input  class="mat" matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Write something...</mat-label>
                    <textarea matInput class="mat"></textarea>
                </mat-form-field>
                    <button mat-raised-button routerLink="contact" routerLinkActive="active" class="button">Send</button>
            </div>

        </div>

    </div>

</main>
<div class="footer"></div>