<div class="recipe-container">
    <div>
        <img class='picture' src={{recipe.pictures}}>
    </div>

    <div class="details-container">
        <div>
            {{recipe.name}}
        </div>
    
        <div class="buttons">
            <button mat-raised-button [routerLink]="['/recipe', recipe.id, recipe]">Read</button>
            <a *ngIf="!recipe.is_favorite" (click)="addToFav()"><mat-icon class="star">star_rate</mat-icon></a>
            <a *ngIf="recipe.is_favorite" (click)="removeFromFav()"><mat-icon class="star-yellow">star_rate</mat-icon></a>

        </div> 
    </div>
</div>